.footer {
    width: 100%;
    height: 391px;
    background: rgba(29, 29, 27, 1);

    .container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;

        .brand {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .logo {
                display: flex;
                align-items: center;

                img {
                    width: 212px;
                    height: 156px;
                }

                span {
                    font-family: "Inter", sans-serif;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 50px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: rgba(255, 255, 255, 1);
                    position: relative;
                    right: 20px;
                }
            }

            .social {
                display: flex;
                align-items: center;
                gap: 70px;
                padding: 0 70px;

                a {
                    transition: transform 0.3s ease, filter 0.3s ease;

                    &:hover {
                        transform: scale(1.2);
                        filter: brightness(1.2);
                    }
                }
            }
        }

        .nav {
            display: flex;
            flex-direction: column;
            gap: 40px;

            h2 {
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: rgba(255, 255, 255, 1);
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {
                    position: relative;
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    color: rgba(255, 255, 255, 1);
                    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                        color: #d86c2c;
                        text-shadow: 0 4px 10px rgba(216, 108, 44, 0.5);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #d86c2c;
                        transition: width 0.3s ease;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }

            }
        }

        .contacts {
            display: flex;
            flex-direction: column;
            gap: 39px;

            h2 {
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: rgba(255, 255, 255, 1);
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 45px;

                h3 {
                    width: 210px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0;
                    color: rgba(255, 255, 255, 1);
                    cursor: pointer;
                    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;

                    a {
                        color: inherit;
                        text-decoration: none;
                        position: relative;
                        display: inline-block;
                        transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
                    }

                    a::after {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #d86c2c;
                        transition: width 0.3s ease;
                    }

                    a:hover {
                        transform: scale(1.05);
                        color: #d86c2c;
                        text-shadow: 0 4px 10px rgba(216, 108, 44, 0.5);
                    }

                    a:hover::after {
                        width: 100%;
                    }
                }

                p {
                    font-weight: 400;
                    font-style: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        .adaptivka {
            display: none;
        }
    }

    @media (min-width: 769px) and (max-width: 900px) {
        .container {
            justify-content: space-around;
            padding: 80px 30px;
            gap: 30px;

            .brand {
                display: flex;
                flex-direction: column;
                gap: 25px;

                .logo {
                    display: flex;
                    align-items: center;
                    position: relative;
                    right: 35px;

                    img {
                        width: 160px;
                        height: auto;
                    }

                    span {
                        font-size: 32px;
                    }
                }

                .social {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    padding: 0;
                }
            }

            .nav,
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-size: 18px;
                }

                ul,
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                li,
                h3,
                p {
                    font-size: 14px;
                }
            }

            .contacts {
                div {
                    p {
                        font-size: 13px;
                    }
                }
            }

            .adaptivka {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 20px 24px;
            gap: 30px;

            .brand {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .logo {
                    display: flex;
                    align-items: center;
                    position: relative;
                    right: 29px;

                    img {
                        width: 96px;
                        height: 65px;
                    }

                    span {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }

                .social {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 0;

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }

            .adaptivka {
                display: flex;
                gap: 70px;

                .nav2 {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    h2 {
                        font-weight: 400;
                        font-style: Medium;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: rgba(255, 255, 255, 1);
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        li {
                            position: relative;
                            cursor: pointer;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            color: rgba(255, 255, 255, 1);
                            transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;

                            &:hover {
                                transform: scale(1.05);
                                color: #d86c2c;
                                text-shadow: 0 4px 10px rgba(216, 108, 44, 0.5);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -3px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: #d86c2c;
                                transition: width 0.3s ease;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }

                .contacts2 {
                    display: flex;
                    flex-direction: column;
                    gap: 39px;

                    h2 {
                        font-weight: 400;
                        font-style: Medium;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: rgba(255, 255, 255, 1);
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 45px;

                        h3 {
                            width: 210px;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0;
                            color: rgba(255, 255, 255, 1);
                            cursor: pointer;
                            transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;

                            a {
                                color: inherit;
                                text-decoration: none;
                                position: relative;
                                display: inline-block;
                                transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
                            }

                            a::after {
                                content: '';
                                position: absolute;
                                bottom: -3px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: #d86c2c;
                                transition: width 0.3s ease;
                            }

                            a:hover {
                                transform: scale(1.05);
                                color: #d86c2c;
                                text-shadow: 0 4px 10px rgba(216, 108, 44, 0.5);
                            }

                            a:hover::after {
                                width: 100%;
                            }
                        }

                        p {
                            font-weight: 400;
                            font-style: 400;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: rgba(255, 255, 255, 1);
                        }

                    }
                }
            }

            .nav {
                display: none;
            }

            .contacts {
                display: none;
            }
        }
    }

    @media (max-width: 380px) {
        .container {

            .adaptivka {
                display: flex;
                gap: 40px;

                .nav2 {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    h2 {
                        font-weight: 500;
                        font-size: 14px;
                        color: #fff;
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        padding: 0;
                        margin: 0;

                        li {
                            font-weight: 800;
                            font-size: 10px;
                            color: #fff;
                            cursor: pointer;
                            position: relative;
                            transition: all 0.3s ease;

                            &:hover {
                                transform: scale(1.05);
                                color: #d86c2c;
                                text-shadow: 0 4px 10px rgba(216, 108, 44, 0.5);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -3px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: #d86c2c;
                                transition: width 0.3s ease;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }

                .contacts2 {
                    display: flex;
                    flex-direction: column;
                    gap: 39px;

                    h2 {
                        font-weight: 500;
                        font-size: 14px;
                        color: #fff;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 45px;

                        h3 {
                            width: 210px;
                            font-weight: 400;
                            font-size: 16px;
                            color: #fff;

                            a {
                                color: inherit;
                                text-decoration: none;
                                position: relative;
                                transition: all 0.3s ease;
                                font-size: 10px;
                                font-weight: 800;
                                width: 150px;

                                &:hover {
                                    transform: scale(1.05);
                                    color: #d86c2c;
                                    text-shadow: 0 4px 10px rgba(216, 108, 44, 0.5);
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: -3px;
                                    left: 0;
                                    width: 0;
                                    height: 2px;
                                    background-color: #d86c2c;
                                    transition: width 0.3s ease;
                                }

                                &:hover::after {
                                    width: 100%;
                                }
                            }
                        }

                        p {
                            font-weight: 800;
                            font-size: 10px;
                            color: #fff;
                        }
                    }
                }
            }

            .nav,
            .contacts {
                display: none;
            }
        }
    }

}

.container {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.brand,
.brand2 {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.8s ease-out 0.2s, opacity 0.8s ease-out 0.2s;
}

.nav,
.nav2,
.contacts,
.contacts2 {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 0.8s ease-out 0.4s, opacity 0.8s ease-out 0.4s;
}

.container.animate {
    opacity: 1;
}

.brand.animate,
.brand2.animate {
    transform: translateY(0);
    opacity: 1;
}

.nav.animate,
.nav2.animate,
.contacts.animate,
.contacts2.animate {
    transform: translateX(0);
    opacity: 1;
}