.swiperContainer {
  overflow: visible;
  box-sizing: border-box;
}

.title {
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin: 147px auto 40px;
}

.slide {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: linear-gradient(124.51deg, #e7e7e7, #b2acae 50%, #dad6d6 100%);
  font-size: 36px;
  font-weight: bold;
  color: #333;

  img {
    width: 100%;
    height: 100%;
    object-fit: 200%;
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
    margin: 120px auto 35px;
  }

  .slide {
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
    font-weight: 500;
    margin: 48px auto 30px;
  }

  .title {
    border-radius: 5px;
  }
}