.header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &.hide {
        transform: translateY(-100%);
    }

    .container {
        width: 100%;
        max-width: 1440px;
        height: 85px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logoContainer {
            display: flex;
            align-items: center;
            transform: translateX(-100px);
            opacity: 0;
            animation: logoSlide 0.8s forwards 0.3s;

            img {
                width: 80px;
                height: auto;
            }

            h1 {
                font-weight: 700;
                font-size: 35px;
                line-height: 1;
            }
        }

        .burger {
            display: none;
        }

        .nav {
            ul {
                list-style: none;
                display: flex;
                gap: 50px;

                li {
                    font-weight: 500;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    opacity: 0;
                    transform: translateY(-20px);
                    display: inline-block;
                    animation: navFade 0.6s forwards;
                    animation-delay: calc(0.2s * var(--i));

                    &:hover {
                        color: rgba(216, 108, 44, 1);
                    }
                }
            }
        }

        button {
            width: 100%;
            max-width: 316px;
            height: 45px;
            border-radius: 15px;
            background: rgba(216, 108, 44, 1);
            border: none;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            cursor: pointer;
            transition: all 0.3s ease;
            transform: translateX(100px);
            opacity: 0;
            animation: buttonSlide 0.8s forwards 0.6s;
            font-family: "Comfortaa", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;

            &:hover {
                background: rgba(216, 108, 44, 0.8);
            }
        }
    }

    .modalMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1500;

        .modalContent {
            background: #fff;
            width: 133px;
            height: 118px;
            position: relative;
            padding: 10px 9px 10px 9px;
            box-sizing: border-box;
            border: 0.3px solid var(--tertuary text, rgba(21, 24, 26, 0.5));
            border-radius: 5px;
            background: var(--primary inv text, rgba(255, 255, 255, 1));

            .nav {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 12px;
                        font-weight: 400;
                        cursor: pointer;

                        span {
                            display: inline-block;
                            position: relative;
                            transition: color 0.2s;

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 115px;
                                height: 0.5px;
                                background-color: rgba(21, 24, 26, 0.7);
                                transition: transform 0.3s ease;
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:hover::after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

        }
    }

    @keyframes logoSlide {
        from {
            transform: translateX(-100px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes buttonSlide {
        from {
            transform: translateX(100px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes navFade {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.slideDown {
        animation: headerSlide 0.8s ease forwards;
    }

    @keyframes headerSlide {
        from {
            transform: translateY(-100px);
        }

        to {
            transform: translateY(0);
        }
    }

    @media (max-width: 1187px) and (min-width:1025px) {
        .container {
            .nav {
                ul {
                    gap: 20px;
                }
            }

            button {
                max-width: 300px;
            }
        }
    }

    @media (max-width: 1024px) {
        .container {
            .logoContainer {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 100px;
                    height: auto;
                }

                h1 {
                    font-size: 30px;
                    line-height: 1.2;
                }
            }

            .nav {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 20px;
                    padding: 0;
                    margin: 0;

                    li {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 1.2;
                        cursor: pointer;

                        &:hover {
                            color: rgba(216, 108, 44, 1);
                        }
                    }
                }
            }

            button {
                max-width: 200px;
                height: 45px;
                font-size: 16px;

            }
        }
    }

    @media (max-width: 920px) {
        .container {
            .nav {
                ul {
                    gap: 1rem;

                    li {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            button {
                max-width: 150px;
                height: 45px;
                font-size: 14px;
            }
        }
    }

    @media (max-width: 789px) {
        .container {
            height: 60px;

            .nav {
                display: none;
            }

            .burger {
                width: 22px;
                height: 15px;
                cursor: pointer;
                display: block;
            }

            .logoContainer {
                img {
                    width: 70px;
                    height: auto;
                }

                h1 {
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            button {
                display: none;
            }
        }
    }

    @media (max-width: 480px) {
        .container {
            height: 41px;

            .nav {
                display: none;
            }

            .logoContainer {
                display: flex;
                align-items: center;
                gap: 8px;

                img {
                    width: 43px;
                    height: auto;
                }

                h1 {
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }
}