.title {
  font-size: 36px;
  font-weight: 700;
  margin: 110px 0 60px;
  color: #333;
  text-align: center;
}

.mapContainer {
  width: 92%;
  margin: auto;
  height: 100%;
  aspect-ratio: 1 / 0.4;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
}


@keyframes slideUpOnce {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .mapWrapper {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
    font-weight: 500;
    margin: 48px auto 30px;
  }

  .mapWrapper {
    width: 100%;
    height: 200px;
  }
}