.servicesContainer {
  max-width: 1365px;
  width: 100%;
  margin: 0 auto;
}

.title {
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  text-align: start;
  margin: 100px 0 71px;
}

.cardsWrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 15px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin: 80px 0 40px;
  }
}
