.wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
  margin: 110px auto;
}

.mySwiper {
  width: 100%;
  max-width: 735px;
  height: auto;
  border-radius: 15px;
  aspect-ratio: 2 / 1.2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.textBlock {
  width: 100%;
  font-size: 40px;
  font-weight: 400;

  b {
    color: #D86C2C;
  }
}

@media (max-width: 1100px) {
  .wrapper {

    .textBlock {
      font-size: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    gap: 30px;
    margin: 70px auto;
  }

  .textBlock {
    width: 100%;
  }

  .mySwiper {
    border-radius: 10px;

    img {
      border-radius: 10px;
    }
  }
}

@media (max-width: 880px) {
  .wrapper {

    .textBlock {
      font-size: 25px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    gap: 10px;
    margin: 0 auto 30px;

    .textBlock {
      font-size: 20px;
    }

    .mySwiper {
      border-radius: 5px;

      img {
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 580px) {
  .wrapper {
    .textBlock {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    gap: 10px;
    margin: 0 auto 15px;

    .textBlock {
      font-size: 11px;
    }
  }
}