@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
     font-family: "Comfortaa", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    height: auto;
    padding: 0 10px;
}